In [1]:
# represents a coment in python

In [2]:
# can be used to comment

In [3]:
'''this is a literal'''

'this is a literal'

In [4]:
"""This is also literal"""

'This is also literal'

In [9]:
a='''Literal are execuatble , whtever written inside this taken as it'''

In [10]:
print(a)

Literal are execuatble , whtever written inside this taken as it

In [12]:
#this is a comment, and non executable

In [13]:
b='This is also a literal executable prints even the space'

In [14]:
print(b)

This is also a literal executable prints even the space

In [15]:
c="""Same as literal"""
print(c)

Same as literal

In [16]:
#id
a=20
id(a)

94035713148544

In [17]:
b=10
print(id(b))

94035713148224

In [19]:
c="thanu"
print(c)
print(id(c))

thanu
139772199024432

In [20]:
b=90
print(id(b))

94035713150784

In [25]:
#this is input 
#when u create a var d it means ur reserving some space in the memory location to store the value 
d=input("Enter your name:")
print("Hi",d)

Enter your name:Thanushri
Hi Thanushri

In [29]:
e="Thanushri"
print("The id value of the variable e is",id(e))
e="python"
print("The id value of the variable e is",id(e))

The id value of the variable e is 139772199040880
The id value of the variable e is 139772275192696

In [30]:
#python ex on standard datatype list that is mutable 
#list is indicated by []
lst=[1,2,3,4]
print(lst)
print("the id of the list is",id(lst))
lst.append(5)
print(lst)
print("The id of the list is",id(lst))
lst=[1,2,3,4,5,6]
print(lst)
print("The id of the list is",id(lst))
#here when u run the code the id value remains the same it means the values of list is getting added in the same menmory loc,it means that list can change (mutable) add/delete

[1, 2, 3, 4]
the id of the list is 139772199006728
[1, 2, 3, 4, 5]
The id of the list is 139772199006728
[1, 2, 3, 4, 5, 6]
The id of the list is 139772198855688

In [36]:
#type is used to get the datatype of a variable immutable datatype Number,float,complex number
f=10
g=10.926743
h=10+6j
print(type(h))
print(type(f))
print(type(g))
print(f,g,h)

<class 'complex'>
<class 'int'>
<class 'float'>
10 10.926743 (10+6j)

In [41]:
#immutable  string datatype
#string indicated by '',"",'''''',""""""
i='string is a seq of char rep using single quote'
j="anything inside double single triple single triple double quote is considered as string in python"
k=''' python is language 
and its is used in AI and ML'''
print(i)
print(j)
print(k)
print(type(i))
print(type(j))
print(type(k))

string is a seq of char rep using single quote
anything inside double single triple single triple double quote is considered as string in python
 python is language
and its is used in AI and ML
<class 'str'>
<class 'str'>
<class 'str'>

In [45]:
#immutable tuple datatype
#tuple indicated by ()
#tuple can take any datatype (both mutable and immutable)
#By defualt if u dont add () brakets also python takes by default as tuple
l=(10,100,10.50,67+7j,"this is python")
L=10,100,10.50,67+7j,"this is python"
print(l)
print(L)
print(type(l))
type(l)
type(L)

(10, 100, 10.5, (67+7j), 'this is python')
(10, 100, 10.5, (67+7j), 'this is python')
<class 'tuple'>

tuple

In [44]:
#Assignment
#create a list
B=[1,2,3.14,'Dr AJ']
print(B)
print(type(B))

[1, 2, 3.14, 'Dr AJ']
<class 'list'>

In [55]:
#Assignment
#craete a tuple c that contain number 45,34,23.13 and a list 1,2,3 and a string name
c=(45,34,23.13,[1,2,3],"Thanu")
print(c)
print(type(c))
id(c)
#SINCE TUPLE IS IMMUTABLE U CANNOT CHANGE THE CONTENT EVEN THOUGH U HAVE LIST INSIDE THAT

#we a create a list inside list 
c=[45,34,23.13,[1,2,3],"Thanu"]
print(c)
print(type(c))
c.append("shri")
print(c)
##SINCE LIST IS MUTABLE U CAN MODIFY THE ORIGINAL OR EXISTING DATA

(45, 34, 23.13, [1, 2, 3], 'Thanu')
<class 'tuple'>
[45, 34, 23.13, [1, 2, 3], 'Thanu']
<class 'list'>
[45, 34, 23.13, [1, 2, 3], 'Thanu', 'shri']

In [60]:
#DICTONARY-is a muttable datatype 
#it is indicated by {}
#its a key value pair
#var={'key':value,'key':'value'}
d={'Age':10,'Name':"Thanusri"}
print(d)
print(type(d))

{'Age': 10, 'Name': 'Thanusri'}
<class 'dict'>

In [61]:
#Assignment fir Dictonary
#create a dictonary D whcih contain the key class and value as AIML , it also conatins the key Time with the value 8
D={'class':'AIML','Time':8}
print(D)
type(D)

{'class': 'AIML', 'Time': 8}

dict

In [68]:
#SET
#can be represented with {} with same datatype
#Also removes duplicates or conatin only unique value and sorts 

A={1,2,3,3}
print(A)
print(type(A))

B={11,1,1,2,3,4,5,5,5,5,5,6,6,7,8}
print(B)
print(type(B))

{1, 2, 3}
<class 'set'>
{1, 2, 3, 4, 5, 6, 7, 8, 11}
<class 'set'>

In [66]:
#Create a LIST E WHICH CONTAIN THE DICTONARY D AND A TUPLE 1,2,3,AND A LIST 4,5,6
E=[{'class':'AIML','Time':8},(1,2,3),[4,5,6]]
print(E)
print(type(E))


#Inthe dic E for the key class instead of the value aiml pass a list aiml ds dl
#when we want to pass mutiple values to a single key in a dic then either use List or use tuple
E=[{'class':['AIML','DS','DL'],'Time':8},(1,2,3),[4,5,6]]
print(E)
print(type(E))

[{'class': 'AIML', 'Time': 8}, (1, 2, 3), [4, 5, 6]]
<class 'list'>
[{'class': ['AIML', 'DS', 'DL'], 'Time': 8}, (1, 2, 3), [4, 5, 6]]
<class 'list'>

In [75]:
#Operators
#Operation performed on operands
#ARITHMATIC OPERATION
m=2+3
print(m)
n=2-3
print(n)
o=2*3
print(o)
p=3/2
print(p)

#COMPARISION PARAMTER
A=2
B=6
print(A>B)
C=9
D=3
print(C>D)

5
-1
6
1.5
False
True

In [6]:
#Loops are used to execute a set of statements/block multiple times
#Two types of Loops are for and while
#Conditional statements
#if statemnt is a stmt where the set of statements will execute only if certain condition matches
#every conditional stmt end with :
X=20
Y=10
if X>Y:
    print("X is graeter than Y")
elif X<Y:
    print("Y is greater than X")
#else:
    #print("X is equal to Y")
    
#if u comment else and its print line then if x=10 and y=10 then it print nothing

X is graeter than Y

In [3]:
"""Hi
HELLO"""

'Hi\nHELLO'

In [13]:
z=10
print(z)##until a var is def u cannot use it

10

In [1]:
'''Hi
Hello'''

'Hi\nHello'